* {
  margin: 0;
  box-sizing: 0;
}

/* -------------Navbar and Burger menu ---------- */
/* holds the burger icon */
/* burger icon position */
.navWrapper {
  position: fixed;
  width: 100%;
  height: 5em;

  display: flex;
  justify-content: flex-start;
  padding: 1em;
}
/* burger icon position */
.burger-menu {
  background-color: transparent;
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 1em;
 
}
/*  burger icon  bars */
.burger-bar {
  width: 4em;
  height: 0.5em;
  z-index: 12;
  border-radius: 0.5em;
} 
/* total hidden border screen size  top: 48px and z12  on the main template */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(134, 120, 107, 0.931);
  font-family: black ops one;
  width: 100%;
  height: 100vh;
  border: 5px solid black;

  z-index: 10;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

 

.menuButtonWords {
  margin: 0 auto;
 }
.buttonStyles {
  position: relative;
  display: flex;
  
  border-radius: 24px;
  border:2px solid #282b30;
  background-image: linear-gradient(to bottom, #5b616b, #1a1c20);
  padding-bottom:.25rem ; 
  padding-top:.25rem ;  
  text-align: center;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin-top: 1rem ;
  margin-bottom: 1rem;
  
 }
.buttonStyles:hover {
  background-image: linear-gradient(to bottom, #1a1c20, #5b616b);
  transition: ease-in-out 0.5s;
 }
@media screen and (min-width: 480px){
  .buttonStyles {
  margin-top: 1.5rem ;
  margin-bottom: 1.5rem;
     }
   }
 @media screen and (max-width: 480px){
  .buttonStyles {
  font-size: smaller;
      }
 
}
@keyframes open-menu {
  0% {
      transform: scaleY(0);
  }
  80% {
      transform: scaleY(01.2);
  }
  100% {
      transform: scaleY(1);
  }
} 
.animate-open-menu {
animation: open-menu 0.5s ease-in-out forwards;
}

/* ---------------Sliding Menu-------------- */

.hidden {
  display: none;
}
.visible {
  display: inherit;
}

/* ---------Animations------ */
/* clicked */
.burger-bar.clicked:nth-child(1) {
  transform: rotate(45deg) translate(0.75em, 01.25em);
  transition: ease-in-out 0.5s;
}
.burger-bar.clicked:nth-child(2) {
  transform: scale(0);
  transition: ease-in-out 0.5s;
}

.burger-bar.clicked:nth-child(3) {
  transform: rotate(135deg) translate(-0.5em, 1em);
  transition: ease-in-out 0.5s;
}

/* --------un-clicked---------------------- */
.burger-bar.unclicked {
  transform: rotate(0) translate(0);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}
.hiddenH1 {
  position: fixed;
  margin: 0 auto;
  left: 50%;
  top: 24px;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
