.Accordion03ReviewsWrapper {
  font-family: Libre_Baskerville;

  text-align: center;
  color: aliceblue;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border: 3px solid #917657;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.roundyButton3 {
  background: linear-gradient(to bottom, #ffecb3, #5c4033);
}

.roundyButton3:hover {
  background-color: aqua;
}

.ReviewsPersonHorizontalRule {
  border: 2px solid #725432;
  width: 70%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ReviewsPersonStarRating {
  border: 2px solid #725432;
  border-radius: 4px;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ReviewsPersonDate {
  font-size: 0.755rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ReviewsPersonName {
  padding-top: 3rem;
  font-size: 1.75rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
