.Accordion03ReviewsWrapper {
  font-family: Libre_Baskerville;

  text-align: center;
  color: aliceblue;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border: 3px solid #917657;
  border-radius: 12px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  z-index: 0;
}
.triangle {
  position: relative;
  display: flex;

  background-color: #41301b;
  left: 6.9px;
  top: 4.5px;
  width: 16px;
  height: 9px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top: 0.7px double #91785d;

  z-index: 2;
}

.triangle::before {
  content: "";
  position: absolute;
  bottom: -5.9px;
  left: calc(50% - 5.5px);
  width: 11px;
  height: 11px;
  background-color: #41301b;
  transform: rotate(45deg);
  z-index: 1;
  box-shadow: 1px 1px 1px 1px #41301b;
  border-right: 1.5px solid #91785d;
  border-bottom: 1.5px solid #91785d;
}
.ReviewsPersonHorizontalRule {
  border: 2px solid #725432;
  width: 70%;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ReviewsPersonStarRating {
  border: 2px solid #725432;
  border-radius: 4px;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ReviewsPersonDate {
  font-size: 0.755rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.ReviewsPersonName {
  padding-top: 3rem;
  font-size: 1.75rem;
  margin: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-decoration: underline;
}
