#root {
  max-width: 1280px;
  margin: 0 auto;
  min-width: 100%;
  text-align: center;
  background-color: #c2ab8c;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.allButtonsWrapper {
  background: linear-gradient(135deg, #68693a, #c3af8a, #68693a, #c3af8a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  padding-bottom: 10px;
  z-index: 55;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
