.hr4 {
  border: 2px solid black;
  height: 5px;
  background-color: greenyellow;
  width: 80%;
  margin: 0 auto;
  margin-bottom: -20px;

  border-radius: 12px;
}
.gorilla {
  text-shadow: 2px 2px 4px #000000;
}
